.header--container{
    display: flex;
    align-items: center;
    margin: 0;
    height: 70px;
    z-index: 2;
    position: fixed;
    top: 0;
}

.header--links{
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 17px;
    padding: 0;
    margin: 20px;
    cursor: pointer;
}

.right--links{
    margin-left: auto;
}

.left--links{
    display: flex;
    align-items: center;
}

.link{
    color: white;
    text-decoration: none;
}

.header--transition{
    transition: top 0.5s ease-in-out;
}

.header--github{
    height: 27px;
    width: 27px;
    align-self: center;
    background-color: white;
    border-radius: 100%;
}

@media only screen and (min-width: 600px) {
    
}
