.home--main{
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.home--title{
    margin: 0;
    align-self: center;
    padding-top: 50px;
    z-index: 0;
}

.margin--images{
    margin: 0 20px;
}
.portrate--images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 0 auto;
    max-width: 500px;
}

.portrate{
    width: 90%;
    margin: 35px auto 0 auto;
    flex-grow: 1;
    border: 3px solid white;
}

.beach{
    width: 48%;
    flex-grow: 1;
    border: 3px solid white;
}

.laptop{
 width: 48%;
 flex-grow: 1;
 border: 3px solid white;
}

.home--contact--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95px;
}

.home--contact--icons{
    display: flex;
    margin: 50px 20px 0px 20px;
    gap: 20px;
    justify-content: center;
}

.contact--show{
    position: relative;
    top: 20px;
    min-width: 150px;
    height: 35px;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px
}

.home--images{
    grid-area: images;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 40px 0;
}

.images{
    width: 90%;
}

.sidebar--container{
    grid-area: sidebar;
    padding: 15px;
}

.home--quote{
    margin: 5px;
    border: 1px solid white;
    padding: 5px;
}

.fullsize--sidebar--l{
    border-left: 1px solid rgb(113, 113, 113);
    box-shadow: 0.03em 0.1em 0.6em 0.3em rgb(173, 173, 173);
    min-height: calc(100vh - 70px);
    height: 100%;
}

.fullsize--sidebar--r::-webkit-scrollbar{
    display: none;
}
.fullsize--sidebar--r{
    border-right: 1px solid rgb(113, 113, 113);
    box-shadow: 0.03em 0.1em 0.6em 0.3em rgb(173, 173, 173);
    min-height: calc(100vh - 70px);
    height: 100%;
    overflow:scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.small--sidebar{
    margin-top: 50px;
}

.sidebar--left--container{
    grid-area: left-sidebar;
    padding: 15px;
}

.line--break{
    border-top: 1px dashed  rgb(107, 104, 104);
}

.home--container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "main"
        "sidebar"
        "images"
        "left-sidebar";
}

.correct{
    color: rgb(0, 245, 0);
}

.incorrect{
    color: rgb(245, 0, 0);
}



input[type='radio'] {
    accent-color: rgb(107, 104, 104);
}

.radio--label{
    display: flex;
    align-items: center;   
}


.submit--button{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 30px auto 0px auto;
    color: white;
    box-shadow: 0 0 3px 2px rgb(195, 194, 194);
    padding-left: 5px;
    padding-right: 5px;

}

@media only screen and (min-width: 550px){
    .home--container{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "left-sidebar main"
            "left-sidebar sidebar"
            "left-sidebar images";
    }
}

@media only screen and (min-width: 700px){
    .home--container{
        display: grid;
        grid-template-columns: 23% 57% 20%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "left-sidebar main sidebar"
            "left-sidebar images sidebar";
    }
}
