.projects{
    display: flex;
    flex-wrap: wrap;
}

.project--container{
    border: 1px solid rgb(216, 210, 210);
    flex-grow: 1;
    flex-shrink: 1;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgb(191, 184, 184);
    padding: 10px;
    margin: 10px;
    color: white;
    text-decoration: none;
    width: 40vw;
    position: relative;
}

.project--skills{
    border: 1px solid rgb(0,0,0);
    border-radius: 10px;
}


.project--filter--container{
    margin: 0 0 20px 0;
    padding: 10px 0 10px 0;
    height: 50px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
}

.project--page--heading{
    margin-left: auto;
    margin-right: auto;
    transform: translate(25%, 0);
    font-size: 40px;
}

.project--filter{
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
}

.project--search{
    margin-right: 20px;
}

.filter--image{
    width: 25px;
    height: 25px;
}


.project--options{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: calc(100%-20px);
    justify-content: center;
}

.project--option{
    border: 1px solid white;
    border-radius: 10px;
    min-width: 100px;
    text-align: center;
    flex-shrink: 1;
}

.project--works{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    z-index: 0;
}

.design--container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
}

.project--works--text{
    color: rgb(255, 83, 83);
}

.project--chef{
    width: 50px;
    height: 50px;
}

.project--knife{
    width: 50px;
    height: 50px;
}

.project--text--container{
    height: 60px;
    overflow: visible;
}

.project--chef--container{
    height: 30px;
    overflow: visible;
}
/*

*/